.infoBlock {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: calc(1200px + (3.75rem * 2));
  width: 100%;
  margin: 0 auto;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  color: #2f5454;
  font-family: "Poppins", sans-serif;
  padding-block: 1.25rem;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4/3;
  border-radius: 8px;
  overflow: hidden;
  padding-block: 1.25rem;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  padding-block: 1.25rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.telBlock {
  display: flex;
  flex-direction: row;
  gap: 2ex;
}

.telLink {
  text-decoration: none;
  color: #333;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

.telLink:hover {
  text-decoration: underline;
}

.infoLine {
  font-size: 1.25rem;
  color: #333;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    padding-block: 0 1.25rem;
  }

  .container {
    padding: 2rem;
  }

  .greeting {
    font-size: 1.1rem;
  }

  .content {
    padding-block: 1.25rem;
    gap: 1rem;
  }

  .infoContainer {
    gap: 0rem;
  }

  .infoLine {
    font-size: 0.95rem;
  }

  .telBlock {
    gap: 1ex;
  }

  .telLink {
    font-size: 0.95rem;
  }
}
