.details {
  background-color: #2f5454;

  &:not(:last-child) > .divider {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3.75rem;
  background-color: #2f5454;
  max-width: calc(1200px + (3.75rem * 2));
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.header {
  margin-block: 1.25rem;

  @media (max-width: 768px) {
    margin-block: 0;
  }
}

.headerTitle {
  font-size: 2.75rem;
  font-weight: 500;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.mapContainer {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: #f0f0f0;
  margin-block: 1.25rem;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 768px) {
    margin-block: 0.75rem;
  }
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #2f5454;
  margin-block: 1.25rem;

  @media (max-width: 768px) {
    margin-block: 0.75rem;
  }
}

.footerTitle {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0 0 1rem 0;
  font-family: "Poppins", sans-serif;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
}

.addressLine {
  font-size: 1.25rem;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.divider {
  display: none;
  height: 1px;
  background-color: #ffffff33;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .headerTitle,
  .footerTitle {
    font-size: 1.5rem;
  }

  .mapContainer {
    height: 400px;
  }

  .addressLine {
    font-size: 1rem;
  }
}
